<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-container">
                {% for category, message in messages %}
                    <div class="flash-message flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <script>
        setTimeout(() => {
            const alerts = document.querySelectorAll('.flash-message');
    
            alerts.forEach(alert => {
                alert.style.transition = 'opacity 0.5s ease';
                alert.style.opacity = '0';
    
                setTimeout(() => {
                    alert.remove();
                }, 500);
            });
        }, 5000);
    </script>

    <div class="head">
        <div class="logo">
            <a href="{{ url_for('home') }}">Clinica de Juguetes</a>
        </div>
        <nav class="navegacion">
            <a href="{{ url_for('home') }}">Inicio</a>
            <a href="{{ url_for('home') }}#que-hacemos">¿Qué hacemos?</a>
            <a href="{{ url_for('home') }}#consultas">Consultas</a>
            <a href="{{ url_for('home') }}#quienes-somos">¿Quiénes somos?</a>
            <a href="{{ url_for('home') }}#contacto">Contacto</a>
        </nav>
    </div>