{% extends 'structure/base.html' %}

{% block title %}Iniciar sesión | Clínica de Juguetes{% endblock %}

{% block content %}
<form class="form-login" action="/login" method="POST">
    <h5>Iniciar sesión</h5>

    <input class="controls" type="text" name="Cedula_Donante" placeholder="Cédula" required>

    <input class="controls" type="password" name="clave" placeholder="Contraseña" required>

    <input class="buttons" type="submit" value="Ingresar">

    <p>
        ¿No tienes cuenta?
        <a href="{{ url_for('registro') }}">Regístrate aquí</a>
    </p>
</form>
{% endblock %}