<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <form class="form-login" action="/registro" method="POST">
        <h5>Formulario de Registro</h5>
        <input class="controls" type="text" name="Cedula_Donante" placeholder="Cédula" required>
        <input class="controls" type="text" name="primer_nombre" placeholder="Primer Nombre" required>
        <input class="controls" type="text" name="segundo_nombre" placeholder="Segundo Nombre">
        <input class="controls" type="text" name="primer_apellido" placeholder="Primer Apellido" required>
        <input class="controls" type="text" name="segundo_apellido" placeholder="Segundo Apellido">
        <input class="controls" type="text" name="contacto" placeholder="Correo o Teléfono" required>
        <input class="controls" type="password" name="clave" placeholder="Contraseña" required>
        <input class="controls" type="password" name="clave2" placeholder="Repetir Contraseña" required>
        <input class="buttons" type="submit" value="Registrarse">
    </form>
</body>
</html>